<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.dao.AddressDao">

	<!-- 添加一個地址 -->
	<insert id="addAddress" parameterType="ShoppingAddress" useGeneratedKeys="true" keyProperty="address_id">
		 INSERT INTO shoppingaddress 
		 VALUES(NULL,#{user_id},#{consignee_name},
		 #{consignee_tel},#{consignee_address},NOW(),null);
	</insert>
	
	<!-- 刪除一個地址 -->
 	<delete id="deleteAddress">
 		DELETE FROM shoppingaddress WHERE address_id=#{address_id};
 	</delete>
 	
 	<!-- 更新地址 -->
 	<update id="updateAddress" parameterType="ShoppingAddress">
 		UPDATE shoppingaddress
 		<set>
 			<if test="consignee_name!=null">consignee_name=#{consignee_name},</if>
 			<if test="consignee_tel!=null">consignee_tel=#{consignee_tel},</if>
 			<if test="consignee_address!=null">consignee_address=#{consignee_address}</if>	
 		</set>
 		WHERE address_id=#{address_id}
 	</update>
</mapper>